.error {
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0 0 13px 0;
}

.error:last-of-type {
    margin: 0 0 31px 0;
}

@media screen and (max-width:399px) {
    .error {
        width: 238px; 
    }
}