.profile__info {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}


@media screen and (max-width: 767px) {
    .profile__info {
        margin-right: 0;
        justify-content: center;
        margin-top: 22px;
    }
}