.profile__info {
    max-width: 336px;
    display: grid;
    align-items: center;
    row-gap: 16px;   
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin-right: 0;
        justify-content: center;
        row-gap: 14px;
    }
}
