.profile__button-plus {
    border: 2px solid #FFFFFF;
    width: 150px;
    height: 50px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.profile__button-plus:hover {
    transition: 0.3s;
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__button-plus {
        margin-top: 36px;
        width: 282px;
        height: 50px;
        background-size: 16px;
    }
}   